{% set blog = pages.find('/blog') %}

<aside class="">
    <svg aria-hidden="true" viewBox="0 0 10 10" id='cross'>
        <use xlink:href="#cross-svg" />
    </svg>
    <div class="shape"></div>
    <div class="container">
        <section>
            <h3>Actu</h3>
            {{ blog.content }}
        </section>

        <section>
            <h3>Dernières publications</h3>
            <ul>
{%            for post in pages.find('/publications').children.visible|slice(0, 5) %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{%            endfor %}
            </ul>
        </section>

        <section>
            <h3>Dernières actualités</h3>
            <ul>
{%            for post in blog.children.visible|slice(0, 5) %}
{%              if post.header.taxonomy.type is same as('post') %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{%              else %}
{%              set alt_title = post.header.alt_title|markdown %}
                <li>{{ alt_title|slice(3, alt_title|length - 7) }}</li>
{%              endif %}
{%            endfor %}
            </ul>
        </section>
    </div>
</aside>
