{% if type not in ['short', 'notice'] %}
    <h1 class="oblique {{ type }} {{ classes }}"><a href="{{ item.url }}">{{ item.title }}</a></h1>
{% else %}
{% set alt_title = item.header.alt_title|markdown %}
    <h1 class="oblique {{ type }} {{ classes }}">{{ alt_title|slice(3, alt_title|length - 7) }}</h1>
{% endif %}
{% if item.content is not empty or type == 'gallery' %}
    <div class="content">
        <time datetime="{{ item.date|date("c") }}">
            <span>{{ item.date|date("d") }}</span>
            <em>{{ 'MONTHS_OF_THE_YEAR'|ta(item.date|date('n') - 1) }}</em>
            <span>{{ item.date|date("Y") }}</span>
        </time>

{%    if type == 'gallery' %}
        <div class="gallery-preview">
{%        for image in item.media.images|slice(0, 8) %}
            {{ image.cropZoom(400, 300).html() }}
{%        endfor %}
        </div>
        <a class="moar" href="{{ item.url }}">{{ 'CONTINUE_WATCHING'|t }}</a>
{%    else %}
        <div>
            {{ item.summary }}
{%        if item.summary != item.content %}
            <a class="moar" href="{{ item.url }}">{{ 'CONTINUE_READING'|t }}</a>
{%        endif %}
        </div>
{%    endif %}
    </div>
{% endif %}
