{% set type = post.taxonomy.type|first %}

<article class="{{ type }}">
    <svg aria-hidden="true" class="lines" viewBox="0 0 200 25">
        <use xlink:href="#line-{{ random(3) }}" />
    </svg>

{% if type != 'short' and type != 'notice' %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="content">
        <time datetime="{{ post.date|date("c") }}">
            <span>{{ post.date|date("d") }}</span>
            <em>{{ 'MONTHS_OF_THE_YEAR_ABBR'|ta(post.date|date('n') - 1) }}</em>
            <span>{{ post.date|date("Y") }}</span>
        </time>

        <div>
            {{ post.summary != post.content ? post.summary : post.content }}
            {% if post.summary != post.content %}
            <p class="next"><a href="{{ post.url }}">Continuer à lire</a></p>
            {% endif %}
        </div>
    </div>
{% else %}
    <h2 class="{{ type }}"><span>{{ post.content|slice(3, post.content|length - 7) }}</span></h2>
{% endif %}
</article>
