{% extends 'default.html.twig' %}

{% block nav_extra %}
<svg aria-hidden="true" class="lines" viewBox="0 0 50.8 14.9">
    <use xlink:href="#mini-nav" />
</svg>
<nav class="mini-nav">
    <ul>
    {% set types = page.slug == 'blog' ? ['billet', 'brève', 'notification'] : ['texte', 'son', 'gallerie', 'vidéo'] %}
    {% for type in types %}
        <li class="{{ type }}">
            <a href="{{ page.url|rtrim('/') }}/type{{ config.system.param_sep }}{{ type }}">{{ type }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block main %}

{% for post in page.collection.visible %}
{% include 'partials/post-sample.html.twig' with {'post':post} %}
{% endfor %}

{% if page.collection.visible.params.pagination %}
{% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
{% endif %}

{% endblock %}
