{% macro comma_list(elems, data) %}
{% for n in elems %}{% if data[n].url %}<a href="{{ data[n].url }}">{{ data[n].name }}</a>{% else %}{{ data[n].name }}{% endif %}{% if loop.revindex0 == 1 %} & {% elseif not loop.last %}, {% endif %}{% endfor %}
{% endmacro %}


{% macro lia_list(elems) %}
{% for elem in elems %}{% if elem.url %}<li><a href="{{ elem.url }}">{{ elem.name }}</a></li>{% else %}<li>{{ elem.name }}</li>{% endif %}{% endfor %}
{% endmacro %}
