{% extends 'default.html.twig' %}
{% from 'macros.html.twig' import comma_list, lia_list %}

{% set data = pages.find('/database').header %}
{% set h = page.header %}
{% set template = page.parent().slug %}

{% block main %}
<svg aria-hidden="true" class="lines colored" viewBox="0 0 200 25">
    <use xlink:href="#line-{{ random(3) }}" />
</svg>
<h1 class="oblique aligned big">{{ page.title }}</h1>

<section class="infos">
    <div class="content">
        <div class="c-right">
        {% if h.external_link %}
            {{ h.external_link|markdown }}
        {% endif %}
        {% if h.cover.img %}
            <img src="{{ page.media[h.cover.img].url }}" alt="Couverture de {{ page.title }}"/>
        {% endif %}
        </div>

        <div class="c-left">
        {% if h.book_title %}
            <p class="title"><em>{{ h.book_title }}</em></p>
        {% endif %}
        {% if h.collaboration %}
            <p>Avec {{ comma_list(h.collaboration, data.people) }}</p>
        {% endif %}

        {% if template in ['theater', 'performances'] %}
            {% if template is same as('theater') %}
            <p>{{ h.company }}</p>
            {% if h.season %}<p>{{ h.season }}</p>{% endif %}
            {% endif %}
            {% if h.representations %}
            <ul><strong>Représentations :</strong>
            {% for item in header.representations %}
                <li>{{ [item.place, item.town, item.date ]|join(', ') }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% else %}
            {% if template is same as('radio') %}
                {% if h.production %}{{ h.production|markdown }}{% endif %}
            {% elseif template is not same as('digital') %}
                {% if h.publisher is defined %}
                    {% set publisher = data.publishers[h.publisher] %}
                    <p>Aux éditions {% if publisher.url %}<a href="{{ publisher.url }}">{{ publisher.name }}</a>{% else %}{{ publisher.name }}{% endif %}.</p>
                {% endif %}
                <hr>
                {% if h.collection %}
                    <p><strong>Collection :</strong> {{ h.collection }}</p>
                {% endif %}
                {% if template is same as('periodics') %}
                    {% if h.journal %}<p><strong>Revue :</strong> {{ [h.journal, h.number]|join(', n°') }}</p>{% endif %}
                {% else %}
                    {% if h.cover.authors %}
                        <p><strong>Couverture :</strong> {{ comma_list(h.cover.authors, data.people) }}.</p>
                    {% endif %}
                    {% if h.mep_authors %}
                        <p><strong>Conception graphique :</strong> {{ comma_list(h.mep_authors, data.people) }}.</p>
                    {% endif %}
                    {% if h.typo %}
                        <p><strong>Caractère :</strong> <em>{{ h.typo.name }}</em> de {{ comma_list(h.typo.authors, data.people) }}.</p>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if h.date %}
                <p><strong>Parution :</strong> <em>{{ 'MONTHS_OF_THE_YEAR'|ta(h.date|date('n') - 1) }}</em> {{ h.date|date("Y") }}</p>
            {% endif %}
        {% endif %}
        </div>
    </div>
</section>


{% if page.content %}

<section class="synopsis">
    <svg aria-hidden="true" class="lines" viewBox="0 0 200 25">
        <use xlink:href="#line-{{ random(3) }}" />
    </svg>
    <div class="content">
        {{ page.content }}
    </div>

</section>
{% endif %}
{% set publications = page.collection %}
{% if publications is not empty %}
<section class="publications">
    <svg aria-hidden="true" class="lines" viewBox="0 0 200 25">
        <use xlink:href="#line-{{ random(3) }}" />
    </svg>
    <h1 class="oblique aligned big">Publications Relatives</h1>
{% for item in publications %}
    {% set type = item.header.taxonomy.type %}
    <article>
{% include 'partials/item-sample.html.twig' with {'item': item, 'type': type} %}
    </article>
{% endfor %}
</section>
{% endif %}



{% set news = page.collection('news') %}
{% if news is not empty %}
<section class="news">
    <svg aria-hidden="true" class="lines" viewBox="0 0 200 25">
        <use xlink:href="#line-{{ random(3) }}" />
    </svg>
    <h1 class="oblique aligned big">Actualités Relatives</h1>
{% for item in news %}
    {% set type = item.header.taxonomy.type %}
    <article class="{{ type }}">
        {% include 'partials/item-sample.html.twig' with {'item': item, 'type': item.header.taxonomy.type} %}
    </article>
{% endfor %}
</section>
{% endif %}
{% endblock %}
